.margin {
  &__top {
    &--60px {
      margin-top: 6rem !important;
    }
    &--big {
      margin-bottom: 8rem !important;
    }
  }
  &__bottom {
    &--big {
      margin-bottom: 8rem !important;
    }
    &--medium {
      margin-bottom: 4rem !important;
    }
  }
  &__bottom {
    &--small {
      margin-bottom: 1rem !important;
    }
  }
}
.text-center {
  text-align: center !important;
}
