.margin {
  &__top {
    &--60px {
      margin-top: 6rem;
    }
    &--big {
      margin-bottom: 8rem;
    }
  }
  &__bottom {
    &--big {
      margin-bottom: 8rem;
    }
  }
  &__bottom {
    &--small {
      margin-bottom: 1rem;
    }
  }
}
.text-center {
  text-align: center;
}
